<ul class="Footer__social-icons-list"><li class="Footer__social-icons-list-item">
                <a class="Footer__social-icon-link" aria-label="Instagram" href="https://www.instagram.com/allbirds" target="_blank" rel="noopener noreferrer">
                  <div class="AspectRatio" style="padding-bottom: 92.72030651340997%;
">
                    <img class="Footer__social-icon ls-is-cached Lazy--loaded" data-src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/7ALf4NFNH4VStmrXU0qSKK/1" alt="Social Icon - Instagram" src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/7ALf4NFNH4VStmrXU0qSKK/1">
                  </div>
                </a>
              </li><li class="Footer__social-icons-list-item">
                <a class="Footer__social-icon-link" aria-label="Twitter" href="https://twitter.com/allbirds" target="_blank" rel="noopener noreferrer">
                  <div class="AspectRatio" style="padding-bottom: 92.72030651340997%;
">
                    <img class="Footer__social-icon ls-is-cached Lazy--loaded" data-src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/7jsrb2oMQypD1kO6iZLXZN/1" alt="Social Icon - Twitter" src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/7jsrb2oMQypD1kO6iZLXZN/1">
                  </div>
                </a>
              </li><li class="Footer__social-icons-list-item">
                <a class="Footer__social-icon-link" aria-label="Facebook" href="https://www.facebook.com/weareallbirds" target="_blank" rel="noopener noreferrer">
                  <div class="AspectRatio" style="padding-bottom: 92.72030651340997%;
">
                    <img class="Footer__social-icon ls-is-cached Lazy--loaded" data-src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/55ZLXdMQu728huA78Qlfkb/1" alt="Social Icon - Facebook" src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/55ZLXdMQu728huA78Qlfkb/1">
                  </div>
                </a>
              </li><li class="Footer__social-icons-list-item">
                <a class="Footer__social-icon-link" aria-label="Pinterest" href="http://pinterest.com/weareallbirds" target="_blank" rel="noopener noreferrer">
                  <div class="AspectRatio" style="padding-bottom: 92.72030651340997%;
">
                    <img class="Footer__social-icon ls-is-cached Lazy--loaded" data-src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/5VBkylibm5XkgzjDP153Mo/1" alt="Social Icon - Pinterest" src="https://cdn.allbirds.com/image/upload/q_auto/production/anchorLink/en-US/images/5VBkylibm5XkgzjDP153Mo/1">
                  </div>
                </a>
              </li></ul>